body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.shaky{
  border:6px solid blue;
  border-radius:2px;
/*  background: url("marcus_dancer.jpg");
*/
}

.fancy{
  /*this overwrites the code placed in the html*/
  border:10px solid red;
  border-radius:20x;
  animation: myfirst 5s;
  -webkit-animation: myfirst 0.5s infinite alternate; /* Safari and Chrome */
  /*transition: border 2s;*/

  background: url("marcus_dancer.jpg");

}

@keyframes myfirst {
  from {border-color: red; }
  to {border-color: yellow;}
}
/* Safari and Chrome */
@-webkit-keyframes myfirst {
  from {border-color: red;}
  to {border-color: yellow;}
}
