body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('rave-babie-blue-lights.jpg');
  background-size: 100% 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.lineUpButton, .danceButton{
  padding:5px 12px;
  float:left;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:15px solid Indigo;
  border-radius:20px;
  position:absolute;
  transition: .5s;
}
.shaky{
  border:13px solid LimeGreen;
  border-radius:2px;
}

.fancy{
  border:19px solid red;
}

.crazy{
  width: 0; 
  height: 0;
  border-radius: 0px; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 45px solid green;
  border-top: 0px;
  -webkit-animation-name:             rotate; 
  -webkit-animation-duration:         0.5s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function:  linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}